<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring5</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>
<table align="center">
    <thead>
    <tr>
        <td>
            Логин:
        </td>
        <td>
            Пароль:
        </td>
    </tr>
    </thead>
    <form method="post" action="/login">

        <tr>
            <td>
                <input name="j_username"/>
            </td>
            <td>
                <input name="j_password"/>
            </td>
            <td>
                <input type="submit"/>
            </td>

        </tr>
    </form>
</table>


</body>
</html>
